# Dependency and Package Manager Caches
node_modules
.pnpm-store

# Local Production Build Outputs
dist
build

# Version Control Records
.git

# Container System Files
Dockerfile
.dockerignore

# Environment Files (Bypasses local secrets to guarantee container security)
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# System and Code Editor Exclusions
.idea
.vscode
*.log
npm-debug.log*
pnpm-debug.log*